div.container
    h1 Angular template
    hr
    ul Features:
        li
            input(type="checkbox", checked="checked", disabled="disabled")
            | Angular 4
        li
            input(type="checkbox", checked="checked", disabled="disabled")
            | Webpack 3
        li
            input(type="checkbox", checked="checked", disabled="disabled")
            | TypeScript 2.5.2
        li
            input(type="checkbox", checked="checked", disabled="disabled")
            | Pug
        li
            input(type="checkbox", checked="checked", disabled="disabled")
            | Stylus
    hr
    div.container
        a(routerLink="/about")
            | About
            b
                | (only authorized)